<!DOCTYPE html>
<html>
<head>
<title>
  {% block title %} Layout {% endblock%}
</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

.w3-panel .w3-bottom img{
 display:inline-block;
 transform:translatex(-346px) translatey(-277px);
}


</style>
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i> </button>
  <img src = "/static/download.svg" height = 50px width = 50px style="margin:0px 0px 0px 94%"/> 
</div>


<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s8">
      <span>Welcome, <strong>Lakshya</strong></span><br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>

  {% block navbar%}
  <div class="w3-bar-block">
    <a href="/dashboard" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i>  Overview</a>
    <a href="/motivation" class="w3-bar-item w3-button w3-padding"><i class="fa fa-quote-left fa-fw"></i>  Motivation Today</a>
    <a href="/rewards" class="w3-bar-item w3-button w3-padding"><i class="fa fa-gift fa-fw"></i>  Rewards</a>
    <a href="/homepage" class="w3-bar-item w3-button w3-padding"><i class="fa fa-sign-out fa-fw"></i>  Sign Out</a>
  </div>
  {% endblock %}

</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">


  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
  </header>


  <div class="w3-row-padding w3-margin-bottom">
   
  {% block overview %}

    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3> {{ numoftrackers}} </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Trackers</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-vcard-o w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>  {{numoflogs}} </h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Logs</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>1</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Streak</h4>
      </div>
    </div>
  </div>

  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      
      <div class="w3-twothird">
        <table class="w3-table w3-striped w3-white">
          <thead>
            <tr>
              <th> 
              </th>
              <th>
                Tracker id
              </th>
              <th>
                Tracker name
              </th>
              <th>
                Tracker Description
              </th>
              <th>
                Tracker type
              </th>
            </tr>
          </thead>
          <tbody>
            {% for tracker in trackers %}
              <tr> 
                <td><i class="fa fa-table w3-text-blue w3-large"></i></td>
                <td>
                  {{tracker["TrackerId"]}}
                </td>
                <td>
                  <a href="trackers/{{tracker["TrackerId"]}}"> {{tracker["TrackerName"]}}</a>
                </td>
                <td>
                  {{tracker["TrackerDesc"]}}
                </td>
                <td>
                  {{tracker["TrackerType"]}}
                </td>
              </tr>
            {% endfor %}
      </div>
    </div>
    <div class="w3-bottom w3-right-align">
       
      <img src = "/static/chart.jpg" id ="img" alt="Alt" width=500px, height=400px>
    </div>
    {% endblock %}

  </div>
<hr>


  {% block rewards %}
  {% endblock %}



  {% block motivation %} {% endblock %}

  <!-- Footer -->
  <footer class="w3-container w3-bottom w3-padding-16 w3-dark-grey">
    <h4>FOOTER</h4>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
